<section>
    <form id="logInForm">
        <input type="text" id="logIn-username" placeholder="username">
        <input type="text" id="logIn-email" placeholder="email">
        <input type="text" id="logIn-password" placeholder="password">
        <button id="login">
           log in
        </button>
    </form>
</section>

<script src="/js/logIn.js"></script>