<form id="new-article">
    <div>
        <input type="text" id="article-title" placeholder="title"> 
    </div>

    <div>
        <textarea id="article-content" placeholder="content"></textarea>
    </div>
    <button>submit</button>
</form>

<script src="/js/newArticle.js"></script>