<section>
    <form id="signUpForm">
        <input type="text" id="signUp-username" placeholder="username">
        <input type="text" id="signUp-email" placeholder="email">
        <input type="text" id="signUp-password" placeholder="password">
    </form>
</section>